<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @alcohol_genre do |f| %>
        <%= f.label :"お酒ジャンル編集" %>
        <%= f.text_field :name %>
        <%= f.submit "変更" %>
      <% end %>
    </div>
  </div>
</div>