<div class="container">
  <div class="row">
    <div class="ccol">
      <% @recipes.each do |recipes| %>
        <%= link_to recipe_path(recipes) do %>
          <%= recipes.title %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>