<div>
  <div class="section-border1"></div>

  <div class="main-image d-flex justify-content-center">
    <%= image_tag 'alcohol.jpg', width: '100%', height: '100%' %>
  </div>

  <div class="section-border"></div>

  <div class="index-top">
    <h2><%= @alcohol_genre.name + "に合うおつまみ一覧" %></h2>
    <div class="index-content">
      <%= render "users/recipes/recipes", recipes: @genre_recipes %>
    </div>
    <div class="page-nation">
      <%= paginate @recipes %>
    </div>
  </div>
</div>