<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <%= link_to "お酒ジャンル管理", alcohol_genres_path, class: "text-dark" %>
      </div>
      <div>
        <%= link_to "ユーザー管理", users_path, class: "text-dark" %>
      </div>
    </div>
  </div>
</div>