<div>
 <div class="section-border1"></div>

  <div class="gpt-content">
     
    <h3>保存した おつまみメーカー'sおつまみ</h3>
     
    <div class="gpt-recipes">
      <% @answer.each do |answer| %>
        <div  class="gpt-recipe">
          <%= simple_format(answer.text) %>
        </div>
      <% end %>
    </div>   
  </div>
</div>