* {
  margin: 0;
  list-style: none;
  color: black;
}
*:hover {
  color: black;
}
.layouts {
  display: flex;
}
.text-top {
  width: fit-content;
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  margin: 1rem 2rem;
  padding: 1rem;
}
/*区切り線*/
.section-border1 {
  border: 1px black solid;
  margin: 1% 0 ;
}
.section-border2 {
  border: 1px black solid;
  margin: 1% 0 ;
}
.section-border {
  border: 1px black solid;
  margin: 10% 0 ;
}
/*ボタン類*/
.recipe-btn {
  background: #d7c2b0;
}
/*ヘッダー*/
.header {
  width: 25vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  background-color: #e7cca3;
  z-index: 100;
}
.header-logo {
  text-align: center;
}
.phone-logo {
  display:none;
}
.header-logo h3 {
  font-size: 2.75rem;
  letter-spacing: 0.4em;
}
.header-logo h1 {
  font-size: 4.75rem;
}
.header-border {
  padding: 2rem;
  border: 3px black solid;
}
.header-background {
  background-color: #e7cca3;
}
.header-bg {
  background-color: #e7cca3;
}
.clock {
  font-size: 3rem;
  font-family: revert;
  font-weight: 800;
}
.search-text {
  font-size: 1.5rem;
}
.search-text-phone {
  display: none;
}
.search-submit {
  background-color: #e7cca3;
  padding: 0;
}
.header-link {
  border: 2px black solid;
  margin-top: 1.5rem;
}
.header-link li {
  border-top: 1px black solid;
  text-align: left;
  padding: 1rem;
}
.link:hover {
  color: black;
}
.link {
  font-size: larger;
  font-weight: bolder;
  color: black;
}
.phone-page {
  display: none;
}
/*メイン*/
.main {
  width: 75vw;
}
.main-content {
  background-color: #ffecd0a6;
}
.main-image {
  margin-bottom: 10%;
}
.main-text {
  text-align: center;text-align: center;
  width: 60%;
  margin: 10% auto;
  border: 2px black solid;
  padding: 10px;
}
.main-text p {
  font-weight: bold;
}

/*ピックアップ*/
.pickup {
  width:95%;
  margin: 0 auto;
}
.pickup-recipe {
  border: 7px gray solid;
  padding: 1rem;
  background-color: #f9e0c173;
  text-align: center;
}
.pickup-recipe-content {
  width: 20%
}
.tags {
  width: 70%;
  margin: 0 auto;
}
/*ビールワインレシピ*/
.beer_recipe {
  width: 65%;
  margin: 0 auto;
}
.box {
  width: 50%;
  height:25vw;
  text-align: center
}
.box1 {
  border: 15px #6c757d47 solid;
  align-items: center;
}
.box2 {
   border:2px solid black;
   background-color: #f9e0c173;
}
.box1 p {
  font-size: 3rem;
  font-weight: 200;
}

.box-text {
  font-size: 1.5rem;
  color: black;
}

.box-text:hover {
  color: black;
}

.beer {
  font-size: 6rem;
}

.wine {
  font-size: 6rem;
}


/*フッター*/
.footer {
  text-align: center;
  height: 5rem;
  background-color: gray;
  display: flex;
  justify-content:center;
  align-items:center;
}
.footer p {
  color: white;
}

/*新規登録*/

.user-sign-up {
  width: 70%;
  margin: 3rem auto;
}
.new-table {
  background-color: #845b1d33;
}

.actions {
  text-align: end;
}

.new-submit {
  font-size: 1.5rem;
}
 /*ログイン*/
.user-sign-in {
  width: 35%;
  margin: 3rem auto;
}

/*おつまみ関連*/
.index-top {
  width:70%;
  margin: 0 auto;
}

/*おつまみshowページ*/
.recipe-show {
  padding: 3rem;
}
.recipe-user-detail {
  width: 25%;
  height: fit-content;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  padding-bottom: 2rem;
}
.recipe-user-profile {
  text-align: center;
  margin: 2rem 0;
}
.recipe-detail {
  width: 75%;
  padding: 0 5rem;
}
.recipe-detail-image, .recipe-detail-title {
  text-align: center;
}
.recipe-saved {
  text-align: end;
}
.comments {
  width: 30%;
}
/*ユーザーページ*/
.user-show {
 padding: 3rem;
}
.user-detail {
  width: 25%;
  height: fit-content;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  padding-bottom: 2rem;
}
.user-profile{
  text-align: center;
  margin: 2rem 0;
}
.user-name {
  margin: 1rem 0;
  font-size: 1.7rem;
}
.user-recipe {
  width: 75%;
  padding:0 2rem;
}
.detail-links {
  text-align: center;
}
.detail-link {
  color: black;
  margin: 0.5rem 0;
}
.detail-link:hover {
  color: black;
}

.user-recipe h3 {
  text-align: center;
  font-size: 2rem;
}
.user-recipes {
  padding: 1.5rem;
  margin: 5rem 3rem;
  border: 3px #d4d4d4 solid;
  background-color: #f9e0c173;
}
.user-recipes:hover {
  color: black;
}
.user-recipe-image {
  margin-left: 2rem;
}
.user-recipe-blok {
  align-items:center;
}
.user-recipe-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

/*マイページ*/
.my-page {
  width: 60%;
  margin: 0 auto;
}
/*保存レシピ*/
.user-saved-recipe {
  width: 70%;
  padding: 3rem;
  margin: 0 auto;
}
/*おつまみメーカー*/
.tumami_maker {
  width: 80%;
  margin: 3rem auto;
}
/*レシピ投稿、編集*/
.new-recipe-page, .edit-recipe-page {
  width: 80%;
  margin: 0 auto;
}

/*レスポンシブ*/
@media screen and (max-width:1024px) {
  .layouts {
    display: inline;
  }
  .text-top {
    width: fit-content;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    margin: 1rem 2rem;
    padding: 1rem;
  }
  /*区切り線*/
  .section-border1 {
    border: 1px black solid;
    margin: 1% 0 ;
  }
  .section-border2 {
    border: 1px black solid;
    margin: 1% 0 ;
  }
  .section-border {
    border: 1px black solid;
    margin: 10% 0 ;
  }
  /*ボタン類*/
  .recipe-btn {
    background: #d7c2b0;
  }
  /*ヘッダー*/
  .header {
    height: 20%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border: 2px black solid;
  }
  .header-logo {
    text-align: center;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
  }
  .header-logo h3 {
   font-size: 1rem;
   letter-spacing: 0.4em;
   margin-left: 0.4rem;
  }
  .header-logo h1 {
    font-size: 2rem;
    margin-top: -0.5rem;
  }
  .pc-logo {
    display: none;
  }
  .header-border {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    border:none;
    width: 90%;
    margin: 0 auto;
  }
  .header-background {
    background-color: #e7cca3;
  }
  .header-bg {
    background-color: #e7cca3;
  }
  .clock {
    display: none;
  }
  .recipe-search {
    text-align: left;
  }
  .search-text {
    display: none;
  }
  .search-text-phone {
    font-size: 0.8rem;
  }
  .search-form {
    width: 10rem;
    height: 1.3rem;
  }
  .search-submit {
    background-color: #e7cca3;
    padding: 0;
    font-size: 0.8rem;
  }
  .header-link {
    border:none;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .header-link li {
    border-top:none;
    text-align: left;
    padding: 0;
  }
  .link:hover {
    color: black;
  }
  .link {
    font-size: 0.8rem;
    color: black;
  }
  .pc-page {
    display:none;
  }
  .phone-page {
    display: flex;
    padding:0.3rem 0;
  }
  .menu {
    display: none;
  }
  /*メイン*/
  .main {
    width: 75vw;
  }
  .main-content {
    background-color: #ffecd0a6;
  }
  .main-image {
    margin-bottom: 10%;
  }
  .main-text {
    text-align: center;text-align: center;
    width: 60%;
    margin: 10% auto;
    border: 2px black solid;
    padding: 10px;
  }
  .main-text p {
    font-weight: bold;
  }
  
  /*ピックアップ*/
  .pickup {
    width:95%;
    margin: 0 auto;
  }
  .pickup-recipe {
    border: 7px gray solid;
    padding: 1rem;
    background-color: #f9e0c173;
    text-align: center;
  }
  .pickup-recipe-content {
    width: 20%
  }
  .tags {
    width: 70%;
    margin: 0 auto;
  }
  /*ビールワインレシピ*/
  .beer_recipe {
    width: 65%;
    margin: 0 auto;
  }
  .box {
    width: 50%;
    height:25vw;
    text-align: center
  }
  .box1 {
    border: 15px #6c757d47 solid;
    align-items: center;
  }
  .box2 {
     border:2px solid black;
     background-color: #f9e0c173;
  }
  .box1 p {
    font-size: 3rem;
    font-weight: 200;
  }
  
  .box-text {
    font-size: 1.5rem;
    color: black;
  }
  
  .box-text:hover {
    color: black;
  }
  
  .beer {
    font-size: 6rem;
  }
  
  .wine {
    font-size: 6rem;
  }
  
  
  /*フッター*/
  .footer {
    text-align: center;
    height: 5rem;
    background-color: gray;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  .footer p {
    color: white;
  }
  
  /*新規登録*/
  
  .user-sign-up {
    width: 70%;
    margin: 3rem auto;
  }
  .new-table {
    background-color: #845b1d33;
  }
  
  .actions {
    text-align: end;
  }
  
  .new-submit {
    font-size: 1.5rem;
  }
   /*ログイン*/
  .user-sign-in {
    width: 35%;
    margin: 3rem auto;
  }
  
  /*おつまみ関連*/
  .index-top {
    width:70%;
    margin: 0 auto;
  }
  
  /*おつまみshowページ*/
  .recipe-show {
    padding: 3rem;
  }
  .recipe-user-detail {
    width: 25%;
    height: fit-content;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding-bottom: 2rem;
  }
  .recipe-user-profile {
    text-align: center;
    margin: 2rem 0;
  }
  .recipe-detail {
    width: 75%;
    padding: 0 5rem;
  }
  .recipe-detail-image, .recipe-detail-title {
    text-align: center;
  }
  .recipe-saved {
    text-align: end;
  }
  .comments {
    width: 30%;
  }
  /*ユーザーページ*/
  .user-show {
   padding: 3rem;
  }
  .user-detail {
    width: 25%;
    height: fit-content;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding-bottom: 2rem;
  }
  .user-profile{
    text-align: center;
    margin: 2rem 0;
  }
  .user-name {
    margin: 1rem 0;
    font-size: 1.7rem;
  }
  .user-recipe {
    width: 75%;
    padding:0 2rem;
  }
  .detail-links {
    text-align: center;
  }
  .detail-link {
    color: black;
    margin: 0.5rem 0;
  }
  .detail-link:hover {
    color: black;
  }
  
  .user-recipe h3 {
    text-align: center;
    font-size: 2rem;
  }
  .user-recipes {
    padding: 1.5rem;
    margin: 5rem 3rem;
    border: 3px #d4d4d4 solid;
    background-color: #f9e0c173;
  }
  .user-recipes:hover {
    color: black;
  }
  .user-recipe-image {
    margin-left: 2rem;
  }
  .user-recipe-blok {
    align-items:center;
  }
  .user-recipe-title {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  /*マイページ*/
  .my-page {
    width: 60%;
    margin: 0 auto;
  }
  /*保存レシピ*/
  .user-saved-recipe {
    width: 70%;
    padding: 3rem;
    margin: 0 auto;
  }
  /*おつまみメーカー*/
  .tumami_maker {
    width: 80%;
    margin: 3rem auto;
  }
  /*レシピ投稿、編集*/
  .new-recipe-page, .edit-recipe-page {
    width: 80%;
    margin: 0 auto;
  }
}