* {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  list-style: none;
  color: black;
}

/*ヘッダー*/
.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}